.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); 
    background-color: white;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo {
    height: 30px;
    width: auto;
  }
  
  .vertical-line {
    height: 30px;
    width: 1px;
    background-color: #000;
    margin: 0 1rem;
  }
  
  .get-info-btn {
    font-size: 10px;
    margin-right: 1rem;
    margin-left: 1rem;
    padding: 0.6rem 1rem;
    background-color: #292967;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
  }
  
  /* @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
      padding: 0.5 rem;
    }
  
    .navbar-right {
      margin-top: 1rem;
      align-self: flex-end;
    }
  } */