.yellow-studymodes {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 200px;
  /* background-color: yellow; */
}

.studymodes-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.studymodes-container {
  z-index: 5;

  margin-top: 60px;
  margin-bottom: 60px;
  width: 80%;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}
.studymodes-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -12%;
}
.studymodes-option-heading {
  margin: 5px;
  padding: 10px 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background-color: #e8e8f7;
}
.studymodes-footter-desc {
  display: flex;
  background-color: white;

  flex-direction: row;
  text-align: start;
  align-items: center;
  justify-content: center;
  padding: 45px 75px;
  /* background-color: azure; */
  box-shadow: -1px 5px 39.1px 1px #42424217, inset 2px 4px 5px 0px #ffffff40;
  border-radius: 20px;
}
.studymodes-footter-btn {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.studymodes-footter-desc-text {
  font-size: 25px;
  font-weight: 500;
  color: #292967;
  margin-bottom: 10px;
}
.studymodes-footter-desc-subtext {
  margin-bottom: 20px;
  font-size: 15px;
}
.prepimg-studymodes {
  width: 381px;
  object-fit: contain;
  /* margin-right: 50px; */
  margin-left: 100px;
  height: 200px;
}

@media (max-width: 768px) {
  .studymodes-option {
    flex-wrap: wrap;
  }
  .yellow-studymodes {
    height: 350px;
  }
  .studymodes-option-heading {
    /* width: 40%; */
    width: 140px;
    height: 61px;
    text-align: center;
    display: grid;
    place-items: center;
  }
  .studymodes-option {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .studymodes-footter-desc {
    flex-direction: column;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 10px !important;
    padding-top: 250px;
  }
  .studymodes-wrapper {
    margin-top: 20px;
  }
}
