.successstor-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.successstor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
  padding: 20px;
}
.successstor-heading {
  width: 100%;
  display: flex;
  margin-bottom: 40px;

  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.successstor-heading-text {
  font-size: 20px;
  font-weight: 400;
}
.successstor-heading-subtext {
  font-size: 40px;
  font-weight: 500;
  color: #292967;
}
.carousel-sucesstor-images {
  width: 100%;
  /* height: 400px; */
  margin-bottom: 100px;
  /* display: flex;
  flex-direction: row; */
  /* height: 200px; */
}
.slick-arrow {
  background: grey;
  border-radius: 50%;
}
.slick-dots {
  bottom: -50px;
}
.slick-prev {
  left: -80px;
}
.slick-next {
  right: -35px;
}
@media (max-width: 768px) {
  .successstor-container {
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
  }
  .successstor-sucesstor-images {
    width: 90%;
  }
  .successstor-heading {
    flex-wrap: wrap;
  }
  .successstor-bgimg {
    height: 200px;
  }
  .slick-slider {
    margin-bottom: 50px;
  }
  .slick-prev {
    left: -20px;
  }
  .slick-next {
    right: -20px;
  }
  .slick-slide img {
    width: 90%;
  }
  .carousel-item{
    display: flex;
    justify-content: center;
  }
}
